#wrapper{
    position: relative;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.left{
    float: left;
}
.right{
    float: right;
}
header #logo{
    padding-top: 30px;
    width: 100px;
    float: right;
}
.clear{
    clear: both;
}
.forms{
    position: relative;
    width: 200px;
    margin: auto;
}
#menu{
    position: absolute;
    margin-top: 20px;
}
#search_form{
    display: inline;
}
#content{
    position: relative;
    width: inherit;
    margin-top: 20px;
}
table{
    width: 500px;
    margin: auto;
    border-collapse: collapse;
}
table tr, table tr td{
    border: 1px solid #ccc;
    text-align: center;
}
label[for=csrf_token], label[for=id]{
    display: none;
}
.success{
    color: green;
}
.info{
    color: #adad00;
}
.error{
    color:red;
}