{% extends "index.html" %}

{% block content %}
    {% if success %}
        <p class="success">Dude, The Operation has done well!!!</p>
    {% else %}
        {% if info %}
            <p class="info">{{ info }}</p>
        {% endif %}
    {% endif %}
    <form action="" method="post" id="author_edit_form" class="forms">
        {% for field in form %}
            <br>{{ field.label }}<br>
            {{ field }}<br>
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <input type="submit" name="author_save" value="Save">
    </form>
{% endblock %}