{% extends "index.html" %}

{% block content %}

    <form action="" method="POST" id="auth_form" class="forms">
        {% for field in form %}
                <br>{{ field.label }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
        {% endfor %}
        <input type="submit" name="auth" value="Sign In">
    </form>
{% endblock %}