{% extends "index.html" %}

{% block content %}
    {% if success %}
        <p class="success">Dude, The Operation has done well!!!</p>
    {% endif %}
    <form action="" method="post" id="book_edit_form" class="forms">
        {% if related_authors %}
            {{ form.id }}
            {{ form.csrf_token }}
            {{ form.name.label }}<br>
            {{ form.name }}
            {% if form.name.errors %}
                <p class="error">{{ form.name.errors[0] }}</p>
            {% endif %}<br>
            <br>{{ form.author.label }}<br>
            <select id="author" multiple="" name="author">
                {% for author in all_authors %}
                    {% if author.id in related_authors %}
                        <option value="{{ author.id }}" selected>{{ author.fullname }}</option>
                    {% else %}
                        <option value="{{ author.id }}">{{ author.fullname }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% if form.author.errors %}
                <p class="error">{{ form.author.errors[0] }}</p>
            {% endif %}
        {% else %}
            {% for field in form %}
                <br>{{ field.label }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <br><input type="submit" name="book_save" value="Save">
    </form>
{% endblock %}