{% extends "index.html" %}

{% block content %}
    <center>
        <h1>Information about {{ author.fullname }}</h1>
        <hr>
        {{ author.fullname }}
        <a href="/author_manager/{{ author.id }}?edit=true">Edit</a>
    </center>
{% endblock %}