{% extends "index.html" %}

{% block content %}
    <table id="author_container">
        <tr><a href="/create_author">Create new author</a></tr>
        <tr>
            <th colspan="2">Authors</th>
        </tr>
        {% for author in authors %}
            <tr>
                <td><a href="/author_review/{{ author.id }}" title="Show Info">{{ author.fullname }}</a></td>
                {% if auth_exists %}
                    <td><a href="/delete_author/{{ author.id }}" title="Remove author" class="delete">delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}