{% extends "index.html" %}

{% block content %}
    <center>
        <h1>Information about {{ book.name }}</h1>
        <hr>
        {{ book.name }}
        {% for author in book.author %}
            <p class="author_name">{{ author.fullname }}</p>
        {% endfor %}
        <a href="/book_manager/{{ book.id }}?edit=true">Edit</a>
    </center>
{% endblock %}
