<!DOCTYPE html>
<html>
<head>
    <title>Book Library</title>
    <link href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/event.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            {% block header %}
                {% include "forms/search_form.html" %}
                <ul id="menu" class="left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/auth">Authorization</a></li>
                    <li><a href="/books_list">Books List</a></li>
                    <li><a href="/authors_list">Authors List</a></li>
                </ul>
                <div id="logo"><img src="{{ STATIC_URL }}images/logo.jpg" width="100" alt="logo"></div>
                <div class="clear"></div>
            {% endblock %}
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>
</body>
</html>