{% block content %}
    <table id="book_container">
        <tr><a href="/create_book">Create new book</a></tr>
        <tr>
            <th>Authors</th>
            <th>Book</th>
            <th></th>
        </tr>
        {% if books %}
            {% for book in books %}
                <tr class="book">
                    <td>
                        {% if book.author %}
                            {% for author in book.author %}
                                <p class="author_name">{{ author.fullname }}</p>
                            {% endfor %}
                        {% else %}
                            <p>Oops, this book doesn't have author. It was created by the God</p>
                        {% endif %}
                    </td>
                    <td><a href="/book_review/{{ book.id }}" title="Show Info">{{ book.name }}</a></td>
                    {% if auth_exists %}
                        <td><a href="/delete_book/{{ book.id }}" title="Remove book">delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">Sorry, but we didn't find any information in according to you query...</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}